body {
		background-image: url("Images/Login.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		font-family: Helvetica;
	}
	
.BackHome{
		position:relative;
		text-align: right;
		margin-right: 1%;
	}
	
.BackMyUploads{
		position:relative;
		text-align: right;
		margin-right: 1%;
	}
	
.button {
		background-color: #000000;
		color: #FFFFFF;
		padding: 10px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		margin:10px
}

.search_box {
	
}

.grid-item {
    border: 1px dotted;
}

.navigation-grid {
    position: relative;
    width: 55%;
    left: 3%;
    text-align: center;
    border: 3px solid;
}

.display-image{
	max-width: 30%;
	max-height: 20%;
}

.display-video{
	
}

.display-video::-internal-media-controls-download-button {
    display:none;
}

.display-video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

.display-video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.display-audio{

}

.display-audio::-internal-media-controls-download-button {
    display:none;
}

.display-audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

.display-audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.media-toot=l-bar{
	
}