body {
		background-image: url("Images/Login.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		font-family: Helvetica;
	}
	
.BackHome{
		position:relative;
		text-align: right;
		margin-right: 1%;
	}
	
.BackProfile{
		position:relative;
		text-align: right;
		margin-right: 1%;
	}
	
.button {
		background-color: #000000;
		color: #FFFFFF;
		padding: 10px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		margin:10px
	}
	
.navigation-grid {
	position: relative;
	top: 2%;
	width: 50%;
	height: 60%;
	text-align: center;
	border: 3px solid;
}
			
.grid-item {
	border: 1px dotted;
}