body {
		background-image: url("Images/Login.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		font-family: Helvetica;
	}
	
.Logout{
		position:relative;
		text-align: right;
		margin-right: 1%;
	}
	
.BackHome{
		position:relative;
		text-align: right;
		margin-right: 1%;
	}
	
.button {
		background-color: #000000;
		color: #FFFFFF;
		padding: 10px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		margin:10px
	}